/**
 * All your custom CSS
 */
 body {
  padding-top: 41px;

 }
#wrap {
  margin: 0 auto;
  padding: 0 0 ;
  height: auto;

}
#system-messages {
  background-color: #fffebb;
}
#system-messages ul {
  padding: 0px;
}
#system-messages li {
  display: block;
  list-style: none;
  padding: 0.5em;
}
#system-messages .error {
  border: 1px solid #a8d26c;
  background: #fffebb;
}
#system-messages .warning {
  border: 1px solid #a8d26c;
  background: #fffebb;
}
#system-messages .notice {
  border: 1px solid #a8d26c;
  background: #fffebb;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.footer {
  margin: 7em 0 1em 0;
  padding: 1em 0 1em 0;
  border-top: 1px solid #ccc;
  text-align: center;
}
.space{
  padding-top: 50px;
}
.rune-page-fail{
  font-size: 1.1em;
  vertical-align: middle;
  margin-right: 10px;
}

.user-autocomplete.form-inline .search-username {
  width: 200px;
}

.user-autocomplete.form-inline .display-username {
  width: 320px;
}

.banner-title-big:hover {
  padding: 0px 0px 0px 0px ;
}

.lol-match-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  box-shadow: 0px 0px 1px #949494;  
  margin-top: 3px;
}


.open_sans{
  font-family: 'Open Sans', sans-serif;
}

.spinner{
  text-align: center;
  padding-top: 10px;
  display: inline-block;
  position: absolute;
}

.stat-label{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  bottom: 3px;
  color: #2a400a;
  text-transform: uppercase;
}

.stat-value{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px; 
  color: #2a400a;
  margin-top: -5px;
  padding-bottom: 5px;

}
.skill-group{
  padding-top: 2px;
  padding-bottom: 2px;
}
.skill-label{
  padding-right: 10px;
  color: #2a400a;
}
.summoner-title{
  font-family: 'Open Sans', sans-serif;
  color: #2a400a;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 4.1em;
}
.feedback-row{
  padding-top: 3px;
  padding-bottom: 3px; 
  border-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  border-color: #DDD;
  border-top-style: solid;
}
.summoner-icon{
  width: 34px;
}
.summoner-name{
  margin-left: -20px;
}
.summoner-feedback-comment{
}
.summoner-stats{
  position:relative;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.given-received-block{
  padding-top: 20px;
}
.review-message{
  margin-top: 3px;
  width: 180px;
  height: 80px;
}
.review-message-button{
  margin-top: 5px;
  margin-right: 5px;
}
.reviews-content{
  box-shadow: 0px 0px 1px #949494; 
  border-color: #949494;
  border-radius: 3px;
  padding-left:7px;
  padding-right:3px;
  padding-top:9px;
  padding-bottom:1px;
}
.review-header{
}
.review-body{
  margin-top: -5px;
  padding-bottom: 5px;
}
ul
{
    list-style-type: none;
}
.site-header{
  margin-left: 15px;
}
.brand{
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 700;
  color: #2a400a;
}
.search{
  padding-right: 15px;
  max-width: 400px;
}

.top-buffer { margin-top:20px; }

.star-rating{
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 30px;

}
.darks{
  background-color:#a8d26c;
}
.lights{
  background-color: #FFF;
}
.clip {
    overflow: hidden;
    display: inline-flex;
    margin-right: -28px;
    margin-left: 2px;
}
.navclip {
    overflow: hidden;
    display: inline-flex;
    margin-left: 1px;
    margin-right: -5px;
}
.half {
   position: relative;
    left: -50%;
}
.custom-alert{
  background-color: #fffebb;
  color: #2a400a;
}

.star{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.system-message{
  background-color: #FFF;
}
.homepage{
  margin-top: -9px;
}

.homepage-header{
  background: #a8d26c;
  border-bottom: 1px;
  border-color: #819c32;
  border-bottom-style: solid;
}
.homepage-title{
  padding-top: 202px;
  font-size: 4.9em;
  color: #2a400a;
}
.homepage-subtitle{
  color:#fffebb;
  margin-top: -15px;
  font-size: 2.1em;
  padding-bottom: 30px;
}
.homepage-quote{
   padding-top: 85px;
  padding-bottom: 30px;
}
.homepage-quote-content{
  font-size: 1.8em;
  font-style: italic;
  color: #2a400a;
}

.homepage-quote-author{
  font-size: 1.1em;
  font-style: italic;
  color: #444;
}

.homepage-pitch-main-title{
  font-size: 6em;
  color: #2a400a;
  text-align: center;
  position: relative;
  padding-top: 0.9em;
}
.homepage-pitch-title{
  padding-top: 0.8em;
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
  color: #2a400a;
}
.homepage-pitch-main-content{
  font-size: 1.4em;
  text-align: left;
  padding-bottom:20px;
  padding-top:25px;
}
.homepage-pitch-content{
  padding-bottom:20px;
  padding-top:5px;
  font-size: 1.4em;
}
.homepage-skills{
  padding: 20px; 
}
.homepage-skill{
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background-color: #FFF;
  margin-bottom:20px;
  padding: 20px;
}
.homepage-skill-name{
  padding-bottom: 14px;
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  color:#819c32;
}
.homepage-skill-icon{
  font-size: 7.5em;
  padding-bottom: 14px;
  color: #2a400a;
}
.homepage-skill-description{
  font-size: 1.1em;
  padding-bottom: 10px;
}
.registration-errors{
  vertical-align: middle;
}

.color-pallette{
  #0ba89c teal
  #7c1c22 red
  #2b382b dark green
  #2c2c2c dark grey
  #949494 grey
  #cbcbcd light grey
  #060708 black

  #a8d26c avocado green
  #819c32 avocado green slight dark
  #fffebb avocado yellow
  #2a400a  dark green
}